/* ============
  Topo da página
   =============  */

   header{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
   }

/* ======================
   Estilo Geral da Página
   ====================== */

   body{
    background: burlywood;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
   }
   nav a{
    text-decoration: none;
    color: black;
    background: darksalmon;
    padding: 10px;
    border-radius: 4px;
    margin: 25px;
   }

/* =======================
       Corpo da Página
   ======================= */

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 100px;
}
.card{
    background: lightslategrey;
    padding: 40px;
}
.card a{
    background: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: large;
}