/* ======================================================================
   📦 GRID
   ======================================================================
   Com o display: grid; é possível definirmos colunas e linhas para organizarmos
   os elementos que estiverem dentro do grid.

   * grid-template-columns
     Define o total de colunas e o tamanho de cada uma.

   * fr
     fr é uma unidade fracionária que terá como objetivo distribuir o espaço restante,
     entre os elementos do grid.

   * gap
     Cria uma distância entre os elementos do grid, tanto horizontal quanto vertical.
   ====================================================================== 

  display: grid;
  grid-template-columns: 200px 200px;
  cria e seta colunas na pagina


*/

h1{
  text-align: center;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  grid-template-columns: 1fr 1fr;
}

h2{
  margin-top: 0px;
}

.Comprar{
  background: #a8f;
  padding: 10px 20px;
  color: #103;
  text-decoration: none;
  border-radius: 4px;
}

.item{
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 20px;
  display: grid;
}

.grid{
  display: grid;
  /* grid-template-columns: 200px 200px; */
  /* grid-template-columns: 50% 50%; da problema pq pode comer parte da página, fazendo com que crie uma barra de movimentação horizontal na página */
  grid-template-columns: 1fr 1fr;
  /* gap: 20px; até em gap da problema, pois pode fazer uma separação desconfigurada */
  gap: 20px;
}